<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <!--------Navbar on top of page-------->  
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://versions.bulma.io/0.7.4">
          <img src="https://versions.bulma.io/0.7.4/images/bulma-logo.png" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" a href="{{ url_for('index') }}">
            Home.
          </a>
          <a class="navbar-item" a href="{{ url_for('myevents') }}">
            My Events.
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" a href="{{ url_for('index') }}">
              Contact BestMan
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Report an Issue!
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Employment and Oppurtunities.
              </a>
            </div>
          </div>
        </div>
      </div>
      {% block navbarend %}
      {% endblock %}
    </div>
  </nav>
  <!--Navbar end-->
  <title>{% block title %}{% endblock %}Best Man.</title>
  
  </head>
  <body>
    <div id="content">
      {% block content %}
      
      {% endblock %}
    </div>

    </div>
  </body>
  <div id="footer">
    {% block footer %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>BestMan</strong> by Zachary Roy Lavigueure.
        </p>
      </div>
    </footer>
    {% endblock %}
</html>